$color1: #f5f5f5;
$color2: #101010;

body {
  background-color: #efefef;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $color1;
  height: 100vh;
  width: 700px;
  margin: auto;
}

h1 {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

ul {
  margin: 0px;
  max-height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border: 5px solid $color2;
}

.item-card.new {
  box-shadow: 5px 5px lightgreen;
}

.item-card.existing {
  box-shadow: 5px 5px lightsalmon;
}

.item-card--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card--description {
  overflow-x: wrap;
  max-height: 50px;
  overflow-y: scroll;
  padding-right: 10px;
}

.item-card--timestamp {
  font-size: 10px;
  color: lightslategray;
}

.item-card input {
  border: none;
  width: 100%;
  margin-right: 10px;
  background-color: $color1;
}

input:focus {
  outline: none;
}

.item-card--button {
  text-align: center;
  vertical-align: middle;
  height: 40px;
  padding: 5px;
  background-color: $color1;
  border: 3px solid $color2;
  font-size: 20px;
}


.item-card--button.add:hover {
  cursor: pointer;
  color: forestgreen;
  border-color: forestgreen;
}

.item-card--button.delete:hover {
  cursor: pointer;
  color: lightcoral;
  border-color: lightcoral;
}